# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
*.pbxuser

# Swift Package Manager (inside Xcode workspace)
.build/
*.resolved

# Rust / Cargo
CLI/.build/
CLI/target/
CLI/Cargo.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
